body {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
}

.box {
    min-height: 700px;
    width: 500px;
    margin: 50px 10px;
    padding: 20px;
    box-shadow: 0 0 20px 2px rgba(15, 15, 15, 0.2);
}

.draggable {
    display: block;
    width: 400px;
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 0 0 20px 2px rgba(15, 15, 15, 0.2);
    user-select: none;
}

.activeItem {
    position: absolute;
    pointer-events: none;
    z-index: 1;
    opacity: 0.3;
}

.activeShadow {
    box-shadow: 0 0 20px 2px rgba(15, 15, 215, 0.5);
}
